<!DOCTYPE html>
<html>
  <?- include('../partials/head') -?>
  <body>
    <?- include('../partials/header') -?>
    <?- include('../partials/nav') -?>
    <div class="container text-center" style="height: 100vh;">
      <h1><?= pageData.title ?></h1>
      <p>
        <img src="https://images.dmc.tv/wallpaper/raw/1532.jpg" alt="Related searches" style="width: 450px; height: 450px;"><br>
        Welcome to
        <?= pageData.title ?>
      </p>
      <p class="fs-1 text-success">
        Detdamrong Chamat 6640201528
      </p>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Itaque ipsa perspiciatis quam, temporibus amet possimus numquam eum. Accusamus tempora quo natus excepturi nostrum necessitatibus animi exercitationem libero eum facilis unde consectetur ducimus, fugiat quasi ex eaque sint quas? Nobis, hic.
      </p>
    </div>
    <?- include('../partials/footer') -?>
  </body>
</html>
